*::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

*::-webkit-scrollbar-thumb {
    background: #cbd5f5;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.btn{
    display: flex;
    justify-content: center;
    width: 100% !important;
    max-width: 90px;
    height: 30px;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
    letter-spacing: 0.1rem;
    border: 1px solid transparent;
 }
 .btn-approve{
     background: #dcfce7;
     color: #166534;
     margin-right: 5px;
    }
    
.btn-edit{
    background: #90D5FF;
    color: #0047AB;
}

.btn-edit:hover{
    background: #0056B3;
    color: white;
}

 .btn-archive{
    background: #fee2e2;
    color: #991b1b
 }

 .btn-approve:hover{
    background: #16a34a;
    color: white;
 }

 .btn-archive:hover{
    background: #dc2626;
    color: white;
 }


.toast{
    visibility: hidden;
    min-width: 300px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.toast.success{
    background-color: #38a169;
}

.toast.error{
    background-color: #e53e3e;
}

.toast.show{
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
